<template name="postSubmit">
	<form class="main">
		<div class="control-group">
			<label for="url" class="control-label">URL</label>
			<div class="controls">
				<input type="text" name="url" value="" placeholder="Your URL">
			</div>
		</div>

		<div class="control-group">
			<label for="title" class="control-label">Title</label>
			<div class="controls">
				<input type="text" name="title" value="" placeholder="Name your post">
			</div>
		</div>

		<div class="control-group">
			<label for="message" class="control-label">Message</label>
			<div class="controls">
				<textarea type="text" name="message" value="" />
			</div>
		</div>

		<div class="control-group">
			<div class="controls"><input type="submit" value="Submit" class="btn btn-primary"></div>
		</div>
	</form>
</template>